<%= render 'partials/header' %>

<h1><%= @user.username %></h1>

<h2>Ratings</h2>
<% if @ratings.empty? %>
  <p>This user hasn't rated any pizza joints.</p>
<% else %>
  <table>
    <%= render 'partials/rating_th' %>
    <% @ratings.each do |r| %>
      <tr>
        <td>
          <%= link_to r.restaurant.name, restaurant_path(r.restaurant.id) %>
        </td>
        <td><%= r.stars %></td>
        <td><%= r.notes %></td>
      </tr>
    <% end %>
  </table>
<% end %>
