<%= render 'partials/header' %>

<% if @user && @user.has_rated?(@restaurant) %>
  <p>Your review:</p>
  <%= link_to "Edit", edit_user_restaurant_rating_path(@user.id, @restaurant.id, @rating.id) %>
  <%= link_to "Delete", user_restaurant_rating_path(@user.id, @restaurant.id, @rating.id), method: "delete" %>
  <table>
    <tr>
      <th>Stars</th>
      <th>Notes</th>
    </tr>
    <tr>
      <td><%= @rating.stars %></td>
      <td><%= @rating.notes %></td>
    </tr>
  </table>
<% else %>
  <p>
    You haven't rated this restaurant yet:
    <%= link_to "Add a Rating", new_user_restaurant_rating_path(@current_user.id, @restaurant.id) %>
  </p>
<% end %>

<h1><%= @restaurant.name %></h1>

<% if !@ratings.empty? %>
  <table>
    <tr>
      <th>User</th>
      <th>Stars</th>
      <th>Notes</th>
    </tr>
    <% @ratings.each do |rating| %>
    <tr>
      <td><%= link_to rating.user.username, user_path(rating.user.id) %></td>
      <td><%= rating.stars %></td>
      <td><%= rating.notes %></td>
    </tr>
  <% end %>
  </table>
<% else %>
  <p>There are no reviews for this restaurant yet.</p>
<% end %>