<!DOCTYPE html>
<html>
  <head>
    <title>PizzaCat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
  </head>

  <body>
    <header>
      <h1>Pizza Cat<span id="registered-trademark">&reg;</span></h1>
      <p>Share the pizza you love.</p>
      <%= image_tag("pizza_cat.png", alt: "Pizza Cat") %>
      <nav>
        <%= link_to 'Profile', controller: 'users' %>
        <%= link_to 'Restaurants', controller: 'restaurants' %>
        <%= link_to 'Ratings', controller: 'ratings' %>
        <%= link_to 'Rate a Pizza', new_rating_path %>
      </nav>
  </header>
    <%= yield %>
  </body>
</html>
